* {
   font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
   margin: auto;
   line-height: 1.25em;
   
}

body {
    text-align:center;
    background-color: #fff;
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 25px;
    padding-bottom: 25px;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}

#section1-searchbutton {
    justify-content: center;
    border:none;
    border-radius: 100px;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.2);
    padding: 15px;
    width: 70%;
    max-height: 100%;
    font-size: 28px;
}


#section1-toggleimg {
    object-position: top 0px right 0px;
}